@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
.fontDafoe {
  font-family: "Mr Dafoe", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.fontM {
  font-family: "Montserrat", sans-serif;
}

.pills {
  background-color: rgb(7, 175, 167);
  border: 1px solid black;
}

.white {
  color: white;
}

.drinkImage {
  max-height: 300px;
  max-width: 300px;
}

#bgParchGrey {
  background-color: rgb(0, 0, 0);
  background-image: url(http://www.zingerbugimages.com/backgrounds/off_white_parchment_paper_wallpaper_texture_seamless.jpg);
  background-size: cover;
  height:100%;
  text-align: center;
  align-items: center;
}

.space {
  white-space: pre-wrap;
}


