@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
.fontDafoe {
  font-family: "Mr Dafoe", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.fontM {
  font-family: "Montserrat", sans-serif;
}

.pills {
  background-color: #17a2b8;
  border: 1px solid white;
}

.white {
  color: white;
}

.bg-black {
  background-color: black;
  text-align: center;
  align-items: center;
}

.lemon {
  color: lemonchiffon;
}

.lemon:hover {
  color: #17a2b8;
}

.cursor {
  cursor: pointer;
}

.drinkImage {
  max-height: 300px;
  max-width: 300px;
  border-radius: 40px;
  border: 2px solid white;
  margin: auto;
}

#bgSignature {
  background-image: url(./images/signature.png);
  background-size: cover;
  height:100%;
  text-align: center;
  align-items: center;
}

.space {
  white-space: pre-wrap;
}

.dropdown-toggle.nav-link span:hover {
  color: #0056b3;
}

html {
  scroll-behavior: smooth;
}

#file-upload-button {
  cursor: pointer;
}

#file-upload-button:hover {
  color: blue;
}

